av
einops
ftfy
fvcore
h5py
hjson
huggingface-hub
hydra-core
iopath
jsonlines
matplotlib
mkl-service
ninja
omegaconf
opencv-python
pandas
panopticapi @ git+https://github.com/cocodataset/panopticapi
Pillow
pyarrow
pycocoevalcap
pycocotools
pytorch-transformers
PyYAML
# scikit-learn==1.0.2
# scipy==1.7.3
# sklearn==0.0
tensorboard
timm
tqdm
transformers
cloudpickle
protobuf

# apex,不能直接使用pip install apex安装！

